.obsidian/themes
.obsidian/appearance.json
.obsidian/workspace.json
# Exclude Untitled Notes
Untitled*
# Exclude "bad" names
null*
# Add below lines to exclude OS settings and caches
.trash/
.DS_Store
# Exclude workspace cache
.obsidian/workspace/*
